* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

body {
  padding:1rem;
  background:#bbe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  text-shadow:0px 3px 2px #99e;
  color:#444
}

main {
  margin-bottom:2rem
}

h1 {
  margin:1rem 0;
  font-weight:400
}

p {
  font-size:0.62rem;
  line-height:1.4
}

a {
  text-decoration:none;
  color:#22a
}

a:hover {
  text-decoration:underline
}

canvas {
  position:absolute;
  top:0;
  left:0;
  display:block;
  touch-action:none
}

#wrapper {
  flex-direction:column;
  display:flex;
  text-align:center;
  align-items:center
}

#wrapper_layers {
  position:relative;
  margin-bottom:1rem;
  width:400px;
  height:400px
}

#wrapper_controls {
  display:flex
}

#wrapper_controls_right {
  margin-left:auto;
  text-align:left
}

#layer_preview, #layer_bg {
  box-shadow:0 4px 6px #99e;
  background:#fff
}

#layer_preview {
  top:20px;
  left:330px
}

#layer_pseudo {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23333333" height="6" width="6"><path d="M 1 1 H 6 V 6 H 1 Z"/></svg>'), auto
}

#color_picker {
  visibility:hidden
}

#color_picker_label {
  display:block;
  box-shadow:0 2px 3px #99e;
  width:24px;
  height:24px;
  background:#333333
}

.pos {
  color:#080
}

.neg {
  color:#800
}
